[submodule "NetworkDebugger/Spectrum"]
	path = NetworkDebugger/Spectrum
	url = https://github.com/Ciastex/Spectrum
[submodule "NetworkDebugger/Harmony"]
	path = NetworkDebugger/Harmony
	url = https://github.com/pardeike/Harmony
[submodule "Patcher/dnlib"]
	path = Patcher/dnlib
	url = https://github.com/0xd4d/dnlib
