player-connection-mode=Listen
player-connection-guid=870278337
player-connection-debug=1
player-connection-wait-timeout=-1
player-connection-ip=172.17.49.241
player-connection-ip=10.0.0.167
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
wait-for-managed-debugger=0
scripting-runtime-version=latest
